* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Verdana;
  font-size: 1.6rem;
  background-color: Gainsboro;
}

header {
  font-family: 'Segoe UI', Verdana;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 11rem;
  background: linear-gradient(Gainsboro 0px, Gainsboro 10rem, transparent 11rem);
}

#header-div {
  background-color: white;
  position: sticky;
  top: 1rem;
  width: 100%;
  margin: 1rem;
  margin-bottom: 0px;
  max-height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

#img-div {
  height: 5rem;
  width: 24rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

img {
  width: 24rem;
}

#nav-bar {
  display: flex;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 1rem 2rem 1rem 0rem;
}

.nav-link {
  background-color: orange;
  font-weight: bold;
  color: rgb(70, 70, 70);
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  
}

.nav-link:hover {
  background-color: gold;
}

.nav-link:active {
  background-color: coral;
}

#main {
  margin: 1rem;
  margin-top: 11rem;
  border-radius: 1rem;
  background-color: White;
}

section {
  padding: 1rem;
  width: 90%;
  margin: auto;
}


#video {
  display: block;
  height: 30rem;
  width: 50rem;
  max-width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

h1, p {
  margin: 2rem;
}

h2 {
  font-size: 1.5rem;
}

#sec-precios {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: auto;
}

.div-precios {
  box-shadow: 0rem 0rem 1rem black;
  border-radius: 1.5rem;
  min-width: 15rem;
  width: 20rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  text-shadow: 0 0 0.2rem grey;
  background-color: whitesmoke;
}

.precio {
  text-shadow: 0 0 1rem lime;
  font-size: 2rem;
  color:green;
}

#sec-contacto {
  text-align: center;
}

label {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

input {
  display: flex;
  width: 40rem;
  margin: auto;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

input[type=submit] {
  background-color: orange;
  color: rgb(70, 70, 70);
  border-style: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 20rem;
  margin: auto;
  margin-top: 1rem;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: gold ;
}

input[type=submit]:active {
  background-color: coral;
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }

  header {
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(Gainsboro 0px, Gainsboro 25.5rem, transparent 26.5rem);
  }
  
  #header-div {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: auto;
    justify-content: flex-start;
    /* margin-bottom: 2rem; */
    height: 100%;
    max-height: none;
  }

  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  li {
    padding: 0.6rem 0rem 0.05rem 0rem;
  }

  #main {
    margin-top: 22.5rem;
  }

  .nav-link {
    background-color: orange;
    font-weight: bold;
    display: inline-block;
    width: 30rem;
    
    color: rgb(70, 70, 70);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
  }

}